<header class="haader-sec cf">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand logo" title="Bio Crowd" href="index.html"><img alt="Logo name" src="assets/images/logo.png"></a>
          <button class="navbar-toggler hamburger-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <button class="navbar-toggler hamburger-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
              </button>
            <ul class="navbar-nav ms-md-auto d-md-flex align-items-center">
                <li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Services</a></li>
                <li><a href="javascript:void(0)">Our Platforms</a></li>
                <li><a href="javascript:void(0)">Industries</a></li>
                <li><a href="javascript:void(0)">Resources</a></li>
            </ul>
            <div class="list-property-btn ms-lg-5">
                <a href="signin.html" class="main-btn sm-btn">Let's Connect</a>
            </div>
          </div>
        </nav>
    </div>
</header>