<footer class="footer-sec cf">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<div class="footer-logo cf">
					<figure>
						<img src="assets/images/logo.png">
					</figure>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<div class="social-footer">
						<a href=""><img src="assets/images/fb-ico.png"></a>
						<a href=""><img src="assets/images/tweet-ico.png"></a>
						<a href=""><img src="assets/images/linkedin-ico.png"></a>
						<a href=""><img src="assets/images/insta-ico.png"></a>
						<a href=""><img src="assets/images/youtube-ico.png"></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="address-bx cf">
					<h3>Location, New York</h3>
					<address>
						Lorem Ipsum is simply dummy text,<br>Ipsum has been the industry standardt<br>make a type specimen book.
					</address>
					<p><i><img src="assets/images/phone-ico.svg"></i><a href="tel:(1)  123 456 7890">(1)  123 456 7890</a></p>
					<p><i><img src="assets/images/email-ico.svg"></i>
						<a href="mailto:enquiry@testingmail.com">enquiry[at]testingmail.com</a>
						<a href="mailto:demo@testingmail.com">demo[at]testingmail.com</a>
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="address-bx cf">
					<h3>Location, India</h3>
					<address>
						Lorem Ipsum is simply dummy text,<br>Ipsum has been the industry standardt<br>make a type specimen book.
					</address>
					<p><i><img src="assets/images/phone-ico.svg"></i><a href="tel:(1)  123 456 7890">(1)  123 456 7890</a></p>
					<p><i><img src="assets/images/email-ico.svg"></i>
						<a href="mailto:enquiry@testingmail.com">enquiry[at]estingmail.com</a>
						<a href="mailto:demo@testingmail.com">demo[at]testingmail.com</a>
					</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="footer-nav cf">
					<h3>Services</h3>
					<ul>
						<li><a href="">Software Development</a></li>
						<li><a href="">Application Development</a></li>
						<li><a href="">Legacy Modernization</a></li>
						<li><a href="">Mobile App Development</a></li>
						<li><a href="">Microsoft Consulting</a></li>
						<li><a href="">SaaS Development</a></li>
						<li><a href="">Web Development</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-nav cf">
					<h3>Industries</h3>
					<ul>
						<li><a href="">Healthcare</a></li>
						<li><a href="">eLearning</a></li>
						<li><a href="">LegalTech</a></li>
						<li><a href="">Fintech</a></li>
						<li><a href="">Retail</a></li>
						<li><a href="">Real Estate</a></li>
						<li><a href="">Transportation and Logistics</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-nav cf">
					<h3>About Us</h3>
					<ul>
						<li><a href="">Why Us</a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Terms and Conditions</a></li>
						<li><a href="">Workplace Infrastructure</a></li>
						<li><a href="">Data Security</a></li>
						<li><a href="">High Performance Teams</a></li>
						<li><a href="">Our Infrastructure</a></li>
						<li><a href="">Leadership Team</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footer-nav cf">
					<h3>Quick Links</h3>
					<ul>
						<li><a href="">Services</a></li>
						<li><a href="">Solutions</a></li>
						<li><a href="">Technologies</a></li>
						<li><a href="">Industries</a></li>
						<li><a href="">Resources</a></li>
						<li><a href="">Careers</a></li>
						<li><a href="">Insights</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>