$full-height:       100%;
$full-width:        100%;

$body-bg:           #ffffff;
$black-color:       #000000;
$hover-black:       #333333;
$white-color:       #ffffff;
$yellow-color:      #F8A829;
$paragraph-text:    #474747;
$input-color:       #333333;
$input-border:      #DCDCDC;
$footer-bg:         #F2F5F6;
$nav-hover:         #FE5C5D;
$service-bg:        #F8FDFF;
$service-bg1:       #FCFFF8;
$service-bg2:       #FEF8FF;
$service-bg3:       #F6FCF6;
$about-bg:          #ffffff;
$accordion-bg:      #ffffff;
$gradient-txt:      linear-gradient(to right, #1FB3FD 0%, #E957E7 20%, #FE5C5D 100%);
$footer-bg:         #F2F5F6;
$hamburger-color:   #FE5C5D;
$header-bg:         #ffffff;
$about-bg:          #ffffff;
$client-logo-bg:    #F5F5F5;
$accordion-bg:      #ffffff;


$fix-width:         1600px;
$general-font:      "Lato", serif;
$heading-font:      "Encode Sans Condensed", serif;

$d-inlineBlock:      inline-block;

$text-center:          center;
$text-left:            left;
$text-right:           right;
$text-uppercase:       uppercase;
$text-lowercase:       lowercase;
$text-capitalize:      capitalize;

$radius_none:          none;
$radius3:              3px;
$radius6:              6px;
$radius8:              8px;
$radius10:             10px;
$radius12:             12px;
$radius20:             20px;
$radius30:             30px;
$radius50:             50px;
$radius100:            100px;
$radius-circle:        100%;


$font-size10:           10px;
$font-size12:           12px;
$font-size13:           13px;
$font-size14:           14px;
$font-size15:           15px;
$font-size16:           16px;
$font-size18:           18px;
$font-size20:           20px;
$font-size22:           22px;
$font-size24:           24px;
$font-size26:           26px;
$font-size28:           28px;
$font-size30:           30px;
$font-size32:           32px;
$font-size34:           34px;
$font-size36:           36px;
$font-size38:           38px;
$font-size40:           40px;
$font-size42:           42px;
$font-size44:           44px;
$font-size46:           46px;
$font-size48:           48px;
$font-size52:           52px;
$font-size56:           56px;
$font-size60:           60px;
$font-size65:           65px;
$font-size70:           70px;
$font-size80:           80px;
$font-size90:           90px;
$font-size100:          100px;


$background-color_2: #E0F3FF;
$services-btn1:     #F2FDE5;
$services-btn2:      #F9EBFB;
$background-color_7: #F6FCF6;
$services-btn3:      #E7F5E7;
$color-transpaent:  transparent;
$collapage-bg:       #1f1f23;



$po-relative:           relative;
$po-absolute:           absolute;
$po-fixed:              fixed;
$po-stick:              sticky;
$po-static:             static;


/* ----------media-queries-------- */
$break-xxl: 1440px;
$break-extra-large: 1340px;
$break-large: 1199px;
$break-portrait: 1024;
$break-medium: 991px;
$break-small: 767px;
$break-xtra-small: 576px;