  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico1.webp" type="image/webp">
                <source srcset="assets/images/service-ico1.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico1.png" type="image/png">
                <img src="assets/images/service-ico1.jpg" alt="Full stack development">
            </picture>
            <h3>Full Stack Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico2.webp" type="image/webp">
                <source srcset="assets/images/service-ico2.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico2.png" type="image/png">
                <img src="assets/images/service-ico2.jpg" alt="Software  Development">
            </picture>
            <h3>Software  Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico3.webp" type="image/webp">
                <source srcset="assets/images/service-ico3.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico3.png" type="image/png">
                <img src="assets/images/service-ico3.jpg" alt="Custom Software  Development">
            </picture>
            <h3>Custom Software  Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico4.webp" type="image/webp">
                <source srcset="assets/images/service-ico4.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico4.png" type="image/png">
                <img src="assets/images/service-ico4.jpg" alt="Application  Development">
            </picture>
            <h3>Application  Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico1.webp" type="image/webp">
                <source srcset="assets/images/service-ico1.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico1.png" type="image/png">
                <img src="assets/images/service-ico1.jpg" alt="Full stack development">
            </picture>
            <h3>Full Stack Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico2.webp" type="image/webp">
                <source srcset="assets/images/service-ico2.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico2.png" type="image/png">
                <img src="assets/images/service-ico2.jpg" alt="Software  Development">
            </picture>
            <h3>Software  Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico3.webp" type="image/webp">
                <source srcset="assets/images/service-ico3.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico3.png" type="image/png">
                <img src="assets/images/service-ico3.jpg" alt="Custom Software  Development">
            </picture>
            <h3>Custom Software  Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="services-home-bx cf">
            <picture>
                <source srcset="assets/images/service-ico4.webp" type="image/webp">
                <source srcset="assets/images/service-ico4.jpg" type="image/jpeg">
                <source srcset="assets/images/service-ico4.png" type="image/png">
                <img src="assets/images/service-ico4.jpg" alt="Application  Development">
            </picture>
            <h3>Application  Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="w-100 mt-md-4 mt-2">
                <a href="javascript:void(0)" class="sm-btn">View More <i class="ms-md-3 ms-2"><img src="assets/images/btn-arrow.webp"></i></a>
            </div>
        </div>
    </ng-template> 
  </owl-carousel-o>
