<owl-carousel-o [options]="customOptions" class="testimonial-carousel">
    <ng-template carouselSlide>
        <div class="testimonail-bx cf">
            <div class="d-md-flex align-items-center client-outer mb-md-4 mb-2">
                <picture>
                    <source srcset="assets/images/client-img.webp" type="image/webp">
                    <source srcset="assets/images/client-img.jpg" type="image/jpeg">
                    <source srcset="assets/images/client-img.png" type="image/png">
                    <img src="assets/images/client-img.jpg" alt="Client info here">
                </picture>
                <div class="client-info">
                    <h3>Micheal Philips</h3>
                    <span><strong>CEO</strong> - Software  Development Company</span>
                    <div class="review">
                        <img src="assets/images/review-icons.png">
                    </div>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="testimonail-bx cf">
            <div class="d-md-flex align-items-center client-outer mb-md-4 mb-2">
                <picture>
                    <source srcset="assets/images/client-img.webp" type="image/webp">
                    <source srcset="assets/images/client-img.jpg" type="image/jpeg">
                    <source srcset="assets/images/client-img.png" type="image/png">
                    <img src="assets/images/client-img.jpg" alt="Client info here">
                </picture>
                <div class="client-info">
                    <h3>Micheal Philips</h3>
                    <span><strong>CEO</strong> - Software  Development Company</span>
                    <div class="review">
                        <img src="assets/images/review-icons.png">
                    </div>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="testimonail-bx cf">
            <div class="d-md-flex align-items-center client-outer mb-md-4 mb-2">
                <picture>
                    <source srcset="assets/images/client-img.webp" type="image/webp">
                    <source srcset="assets/images/client-img.jpg" type="image/jpeg">
                    <source srcset="assets/images/client-img.png" type="image/png">
                    <img src="assets/images/client-img.jpg" alt="Client info here">
                </picture>
                <div class="client-info">
                    <h3>Micheal Philips</h3>
                    <span><strong>CEO</strong> - Software  Development Company</span>
                    <div class="review">
                        <img src="assets/images/review-icons.png">
                    </div>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="testimonail-bx cf">
            <div class="d-md-flex align-items-center client-outer mb-md-4 mb-2">
                <picture>
                    <source srcset="assets/images/client-img.webp" type="image/webp">
                    <source srcset="assets/images/client-img.jpg" type="image/jpeg">
                    <source srcset="assets/images/client-img.png" type="image/png">
                    <img src="assets/images/client-img.jpg" alt="Client info here">
                </picture>
                <div class="client-info">
                    <h3>Micheal Philips</h3>
                    <span><strong>CEO</strong> - Software  Development Company</span>
                    <div class="review">
                        <img src="assets/images/review-icons.png">
                    </div>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="testimonail-bx cf">
            <div class="d-md-flex align-items-center client-outer mb-md-4 mb-2">
                <picture>
                    <source srcset="assets/images/client-img.webp" type="image/webp">
                    <source srcset="assets/images/client-img.jpg" type="image/jpeg">
                    <source srcset="assets/images/client-img.png" type="image/png">
                    <img src="assets/images/client-img.jpg" alt="Client info here">
                </picture>
                <div class="client-info">
                    <h3>Micheal Philips</h3>
                    <span><strong>CEO</strong> - Software  Development Company</span>
                    <div class="review">
                        <img src="assets/images/review-icons.png">
                    </div>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="testimonail-bx cf">
            <div class="d-md-flex align-items-center client-outer mb-md-4 mb-2">
                <picture>
                    <source srcset="assets/images/client-img.webp" type="image/webp">
                    <source srcset="assets/images/client-img.jpg" type="image/jpeg">
                    <source srcset="assets/images/client-img.png" type="image/png">
                    <img src="assets/images/client-img.jpg" alt="Client info here">
                </picture>
                <div class="client-info">
                    <h3>Micheal Philips</h3>
                    <span><strong>CEO</strong> - Software  Development Company</span>
                    <div class="review">
                        <img src="assets/images/review-icons.png">
                    </div>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </ng-template>
</owl-carousel-o>